<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <div id="app">
            <!-- v-model功能：实现数据的双向绑定 -->
            <!--<input type="text" v-model="message">-->

            <!-- 使用v-bind和v-on语法也可以实现数据的双向绑定，代替v-model使用 -->
            <!--<input type="text" v-model="message">-->
            <!--<input type="text" v-bind:value="message" v-on:input="change">-->
            <!-- 语法糖写法 -->
            <input type="text" :value="message" @input="change">

            <h2>{{message}}</h2>
        </div>

        <script src="../js/vue.js"></script>
        <script>
         let app = new Vue({
             el: '#app',
             data: {
                 message: "hello vue"
             },
             methods:{
                 //一旦页面触发一个事件，浏览器就会自动创建一个event对象（在调用的时候也不用传值，浏览器会自动传值）
                 change(event){
                     this.message = event.target.value
                 }
             }
         })
        </script>
    </body>
</html>
