<!DOCTYPE html>
<html lang="en" xmlns:v-if="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="app">
            <div v-if="isShow">条件渲染true</div>
            <div v-else>条件渲染false</div>
        </div>

        <script src="../js/vue.js"></script>
        <script>
            let app = new Vue({  //new Vue联想java，new了一个对象，这个vue对象参数也是传入一个对象
                el: '#app', // 挂载要管理的元素
                data: {
                    counter: 0,
                    isShow: true
                }
            })
        </script>
    </body>
</html>
